.index{
  width: 90%;
  height: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 10%; left: 0; bottom: 10%; right: 0;
  text-align: center;
}

.applog {
  height: 60%;
  
}

.login{
  margin: 50px 0 0;
}