// 轮播
.swper{
    height: 480px;
    .swiper-item {
        width: 100%;
        height: 100%;
    }
    
    .swiper-content {
        width: 100%;
        height: 100%;

        .showImge {
            width: 100%;
        }
    }   
}

// tabs页