.index {
  height: 100%;
}

.swiper {
  height: 90vh;

  .swiper-item {
    height: 90vh;
    text-align: center;
  }

  .lastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .showImge {
    height: 100%;
  }
}