.index {
  height: 100%;
}

.test-h {
  height: 90vh;
}

.demo-text {
  height: 90vh;
  text-align: center;
}

.lastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showImge {
  height: 100%;
}