

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.setting {
  width: 100%;
  height: 50px;

  .at-icon,.at-icon-settings {
    float: right;
  }
}

.user-head {
  width: 240px;
  height: 240px;;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}